/* Media Query Widths
 * Taken from /src/lib/custom-ui/styles.css */
$width-sm: 320px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1920px;

@mixin mobile {
  @media (max-width: #{$width-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$width-md}) {
    @content;
  }
}

@mixin monitor {
  @media (min-width: #{$width-lg}) {
    @content;
  }
}
